.userPhoto{
    width: 100px;
    height:100px;
}
.selectedPage{
    font-weight:bold;

}
.pageNumbers{
    cursor: pointer ;
    padding: 2px;
    border: 1px solid gray;
}

.pageNumbers .selectedPage{
    font-weight: bold;
    border-color: black;
}
 .paginator{
     margin: 10px;
 }
